/**
** Baloo Tamma 2
**/

@font-face {
    font-family: 'BalooTamma2';
    src: url('./assets/fonts/BalooTamma2-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'BalooTamma2';
    src: url('./assets/fonts/BalooTamma2-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'BalooTamma2';
    src: url('./assets/fonts/BalooTamma2-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'BalooTamma2';
    src: url('./assets/fonts/BalooTamma2-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
// @font-face {
//     font-family: 'Baloo-Tamma';
//     src: url('./assets/fonts/Baloo-Tamma2-Bold.ttf') format('tff'),
//         url('./assets/fonts/Baloo-Tamma2-Bold.ttf') format('tff');
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Baloo-Tamma';
//     src: url('./assets/fonts/Baloo-Tamma2-Bold.ttf') format('tff'),
//         url('./assets/fonts/Baloo-Tamma2-Bold.ttf') format('tff');
//     font-weight: 500;
//     font-style: normal;
// }
