<div class="container">
    <h2>Manage Institutions</h2>

    <div class="form-container">
        <div class="col">
            <div class="information-container">
                <ol>
                    <li *ngFor="let rule of rules | slice:0:3; let i = index">{{rule.text}}</li>
                    <div class="collapse" id="collapseRules">
                        <li *ngFor="let rule of rules | slice:4:8; let i = index">{{rule.text}}</li>
                    </div>
                </ol>
                <div class="row justify-content-center">
                    <a data-toggle="collapse" href="#collapseRules" role="button" aria-expanded="false"
                        aria-controls="collapseRules" class="see-more" (click)="isCollapsed = !isCollapsed">
                        {{(isCollapsed) ? 'Collapse': 'See more'}}
                    </a>
                </div>
            </div>
        </div>

    </div>
    <h3 class="row col subtitle">Requested institutions</h3>

    <div class="col">
        <form class="col" *ngIf="crps.length > 0" [formGroup]="acceptanceForm" (ngSubmit)="submit()">

            <div class="row col">
                <div class="form-group col">
                    <label for="type" class="required">Acronym of CGIAR entity:</label>
                    <select formControlName="crp" #crp class="form-control" (change)="changeCRP(crp.value, 'crp')">
                        <option selected disabled>Select Crp</option>
                        <option *ngFor="let crp of crps | orderBy:'acronym'" [value]="crp.acronym">{{crp.acronym}}</option>
                    </select>
                    <div *ngIf="f.crp.touched && f.crp.invalid" class="alert alert-danger">
                        <div *ngIf="f.crp.errors.required">Acronym of CGIAR entity is required.</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row col">
        <div class="col-12" *ngIf="requestedPartners.length > 0">

            <div class="col-12 partner-container" *ngFor="let partner of requestedPartners">

                <h2>{{(partner.acronym) ? partner.acronym + ' - ': ''}} {{partner.partnerName}}</h2>
                <div *ngIf="partner.webPage">
                    ( <a href="{{partner.webPage}}" target="_blank">{{partner.webPage}}</a>)
                </div>
                <hr>

                <span class="row col-12 info-row info-row-type">Type: <p>{{partner.institutionTypeDTO.name}}</p></span>
                <span class="row col-12 info-row info-row-country">Country: <span
                        class="flag-icon flag-icon-{{partner.countryDTO.isoAlpha2.toLowerCase()}}"></span>
                    <p>{{partner.countryDTO.name}}</p>
                </span>
                <span class="row col-12 info-row info-row-type">CRP: <p>{{selectedCRP}}</p></span>
                <span class="row col-12 info-row info-row-source">Requested Source: <p>
                        {{partner.institutionTypeDTO.name}}
                    </p></span>
                <span class="row col-12 info-row info-row-user">Requested by: <p>{{partner.externalUserName}}
                        {{ '<' +  partner.externalUserMail + '>'}}
                    </p></span>


                <div class="row justify-content-end">
                    <button type="button" class="btn btn-success">
                        <fa-icon [icon]="faCheck"></fa-icon>
                        Approve
                    </button>
                    <button type="button" class="btn btn-danger" (click)="open(content, partner)">
                        <fa-icon [icon]="faTimes"></fa-icon>
                        Reject
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="requestedPartners.length == 0 && selectedCRP != ''">
            <h2>
                None Institution Request for {{selectedCRP}}
            </h2>
        </div>
    </div>


    <!-- 

        **** MODALS ****
     -->

    <ng-template #content let-modal>
        <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">Reject Institution {{selectedPartner.partnerName}}?</h3>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="rejectionForm">
                <textarea style="width: 100%;" name = "justification" placeholder="Why you want to reject this institution?" formControlName="justification" ></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button" class="btn btn-success" (click)="modal.close('ok clicked')">Ok</button>
        </div>
    </ng-template>

    <!-- 

        **** Spinner ****

     -->
     <ngx-spinner></ngx-spinner>
</div>