<div class="container">
    
    <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">All institutions & location offices</h3>

    </div>
    <div class="modal-body" style="position: relative">
        <div>
            <form class="row col justify-content-between">
                
                <div>
                    
                                      Show:
                    <select class="custom-select" style="width: auto" name="pageSize"
                        [(ngModel)]="locationsService.pageSize">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="50">50</option>
                    </select>
                    entries
                </div>
                <div class="form-group form-inline">
                    Search: <input class="form-control ml-2" type="text" name="searchTerm"
                        [(ngModel)]="locationsService.searchTerm" />
                        
                    <span class="ml-3" *ngIf="locationsService.loading$ | async">Loading...</span>
                </div>
            </form>
            <button (click)="exportAsXLSX()" class="btn-export">
                Export
                <i class="icon-download"></i>
            </button> 
        </div>
        <form>
            
            <table class="table table-striped" id="institutionsTable">
                <thead>
                    <tr>
                        <th scope="col" sortable="code" (sort)="onSort($event)">ID</th>
                        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                        <th scope="col" sortable="name" (sort)="onSort($event)">Acronym</th>
                        <th scope="col" sortable="institutionType" (sort)="onSort($event)">Type</th>
                        <th scope="col" sortable="website" (sort)="onSort($event)">Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let institution of institution$ | async">
                        <th scope="row">{{ institution.code }}</th>
                        <td>
                            <ngb-highlight [result]="institution.name" [term]="locationsService.searchTerm">
                            </ngb-highlight>
                            <div>
                                <span class="flag-icon flag-icon-{{cdto.isoAlpha2.toLowerCase()}}"
                                    style="padding: 0 15px;"
                                    *ngFor="let cdto of institution.countryOfficeDTO"></span>
                            </div>
                        </td>
                        <td>
                            <ngb-highlight [result]="institution.acronym" [term]="locationsService.searchTerm">
                            </ngb-highlight>
                        </td> 
                        <td>
                           
                            <ngb-highlight [result]="institution.institutionType.name"
                                [term]="locationsService.searchTerm">
                            </ngb-highlight>
                        </td>
                        <td>
                            <a class="nav-link" href={{institution.websiteLink}} target="_blank">{{ institution.websiteLink }}</a>                                            
                        </td>
                    </tr>
                </tbody>
                
  

            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="(total$ | async)!" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" [(page)]="locationsService.page" [pageSize]="locationsService.pageSize">
                </ngb-pagination>
            </div>

        </form>
        <ngx-spinner
        size = "medium"
        [fullScreen] = "false">
        <p style="font-size: 20px; color: white">Loading institutions...</p>
    </ngx-spinner>
    </div>


</div>